/.deps/
/.deps-cache/
/build/
/dist/
/out/
/.vs/
/.vscode/
*.user
*.suo
*.VC.db
*.log
__pycache__/
.DS_Store
/tools/yt-dlp.exe
/shaders/Anime4K/*.glsl
/tests/media/results.json
/tests/media/*.*
!/tests/media/README.md
